<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>newaccount</servlet-name>
        <servlet-class>newaccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>balance</servlet-name>
        <servlet-class>balance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deposit</servlet-name>
        <servlet-class>deposit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>withdraw</servlet-name>
        <servlet-class>withdraw</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Transfer</servlet-name>
        <servlet-class>Transfer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>transfer</servlet-name>
        <servlet-class>transfer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>newaccount</servlet-name>
        <url-pattern>/newaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>balance</servlet-name>
        <url-pattern>/balance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deposit</servlet-name>
        <url-pattern>/deposit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>withdraw</servlet-name>
        <url-pattern>/withdraw</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Transfer</servlet-name>
        <url-pattern>/Transfer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>transfer</servlet-name>
        <url-pattern>/transfer</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
